* {
  box-sizing: border-box;
  /* background-color: #1c0b38; */
  /* color: white; */
}

.body {
  margin: 0;
  background-color: #1c0b38;
}

.root {
  display: flex;
  flex-direction: column;
  /* background-color: #1c0b38; */
}

p,
h1 {
  color: #1c0b38;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-image-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 1.5rem;
}

.main-image-container .main-image {
  height: 25vh;
  width: 100vh;
  box-shadow: 0 0 8px 8px black;
}

.main-image {
  position: relative;
  max-width: 100%;
}

.image-title {
  background-color: black;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 28pt;
  position: absolute;
  top: 10%;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.search {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  /* font-family: "Lobster", cursive; */
  font-size: 1.2rem;
  /* padding: 0.5rem 1.5rem; */
}

.search::placeholder {
  color: white;
}

.search:focus {
  outline: 0;
}

.search-container {
  height: 100vh;
}

.search-form {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.movie-container {
  background-color: #1c0b38;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: #53406d;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0.7rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: #1c0b38;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

header {
  /* background-color: #1c0b38; */
  padding: 1rem;
}

.signup-container {
  padding: 2rem;
}

.login-container {
  padding: 2rem;
}

.create-account-container {
  padding: 2rem;
}

.create-account-h1 {
  padding: 2rem;
}

.create-account-h3 {
  padding: 2rem;
}

.login-h1 {
  padding: 2rem;
}

.movie-button {
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  /* border-color: aqua; */
  background-color: rgb(16, 16, 161);
}

.saved-movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-home-heading {
  color: white;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.contact-page {
  background-color: #1c0b38;
  margin-top: 3rem;
}

.contact-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.contact-form {
  background-color: #49423f;
  border-radius: 20px;
  padding: 2rem;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
}

.contact-h1 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.contact-email-label {
  color: white;
  padding: 0.5rem;
}

.contact-email {
  height: 2rem;
  width: 55vw;
}

.contact-message-label {
  color: white;
  padding: 0.5rem;
}

.contact-message {
  height: 4rem;
  width: 55vw;
}

.contact-button {
  margin-top: 2rem;
  width: 55vw;
  border-radius: 80px;
  background-color: rgb(10, 10, 114);
  color: white;
}

.contact-thanks {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
